<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moneyless">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="MoneyLess"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/config">
         <activity android:name=".ui.category.CategoryActivity"
            android:theme="@style/NoActionBar">

        </activity>
        <activity
        android:name=".ui.add.AddActivity"
        android:theme="@style/NoActionBar"></activity>

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="MoneyLess"
            android:windowSoftInputMode="adjustNothing">
        </activity>
        <activity android:name=".login.RegisterActivity"
            android:theme="@style/Translucent" />
        <activity android:name=".login.LoginActivity"
            android:theme="@style/NoActionBar">
        </activity>
        <activity android:name=".ui.category.CategoryWasteBookFragment"
            android:theme="@style/NoActionBar">
        </activity>
    </application>

</manifest>